body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

label {
    padding-top: 0.5em;
}
textarea {
    resize: vertical;
    min-height: 5em;
    max-height: 10em;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 4px 4px 4px black;
    background-color: #eee;
    border: 1px solid #ccc;
}

input[type="text"], input[type="email"], input[type="date"], input[type="tel"] {
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 4px 4px 4px black;
    background-color: #eee;
    border: 1px solid #ccc;
}
input[type="submit"] {
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 4px 4px 4px black;
    background-color: #129924;
    border: 1px solid #129624;
}

select {
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 4px 4px 4px black;
    background-color: #eee;
    border: 1px solid #ccc;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 8px;
}
input[type="button"] {
    padding: 10px 12px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 4px 4px 4px black;
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 0.7em;
    width: 8em;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.d-flex { display: flex; }
.flex-grow { flex-grow: 1; }
.flex-direction-col { flex-direction: column; }
.flex-direction-row { flex-direction: row; }
.align-items-center { align-items: center; }
.justify-content-center { justify-content: center; }
.gap-half { gap: 0.5em; }