body {
    font-family: 'Agency FB', Arial, sans-serif;
    padding: 0;
    margin: 0 2em;
}
h2 {
    text-wrap: nowrap;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input[type="text"], input[type="email"], input[type="date"], 
input[type="tel"], input[type="button"], select, textarea {
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #222;
    background-color: rgb(250, 250, 250);
    border: 2px solid #ccc;
}

textarea {
    resize: vertical;
    min-height: 5em;
    max-height: 20em;
}


.header-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 1em 0;
}
.content-box {
    padding: 1em 1em;
    box-shadow: 3px 3px 3px #222;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
}

.header-box>h3 {
    margin: auto 0;
}

#generate-btn {
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 4px 4px 4px black;
    background-color: #129924;
    border: 1px solid #129624;
}

.hbox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2em;
}
.hbox>div, .hbox>input, .hbox>select {
    flex-grow: 1;
}
.hbox>p {
    margin: auto 0;
    width: 10em;
    vertical-align: center;
}

.divider {
    height: 2px;
    margin: 1em 0;
    border-radius: 1px;
    background-color: rgb(224, 49, 34);
}

.info-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

@media only screen and (max-width: 1400px) {
    .info-panel {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 800px) {
    .info-panel {
        grid-template-columns: 1fr;
    }
}



.vbox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;
}

.d-flex { display: flex; }
.flex-grow { flex-grow: 1; }
.flex-direction-col { flex-direction: column; }
.flex-direction-row { flex-direction: row; }
.align-items-center { align-items: center; }
.justify-content-center { justify-content: center; }
.gap-half { gap: 0.5em; }